* {
  background-color: red;
}
.game-grid-container {
  display: grid;
  z-index: 0;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.inner-game-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  background-size: auto;
  /* background-image: url('../images/burt.jpg'); */
  background-position: center center;
  padding: 10px;
}
.inner-grid-item {
  background-color: rgba(128, 128, 255, 1.0);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

#question-box {
  background-color: black;
}

#choices-div,
#question-div {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

.question-paragraph {
  margin: 0;
  padding: 0;
}

.big-answer-text-green {
  background-color: black;
  color: green;
  margin: 0;
  padding: 0;
}

.big-answer-text-red {
  background-color: black;
  color: red;
  margin: 0;
  padding: 0;
}

.text-box {
  padding: 0.5em 0.5em;
  font-size: 1em;
  color: white;
  background-color: black;
}

.input {
  background-color: white;
  padding: 0.5em 0.5em;
}

.form {
  background-color: black;
}
