* {
margin: 0;
padding: 0;
}

html{
  height:100%;
}

header {
  background-color: rgba(223, 179, 51);
  height: 4em;
  width: 100%;
  position: relative;
  min-height:100%;
  margin-bottom: 3em;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./img/Movie-Collage.jpg);
  position: relative;
  min-height:100%;
}

footer {
  background-color: rgba(223, 179, 51);
  height: 4em;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-top: 3em;
}

.game-grid-container {
  display: grid;
  z-index: 0;
  grid-template-columns: auto auto auto;
  /* background-color: #0005; */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  padding: 10px;
}
.grid-item {
  /* background-color: #0005; */
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.inner-game-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  background-size: auto;
  background-position: center center;
  padding: 10px;
}
.inner-grid-item {
  /* background-color: rgba(orange); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

#choices-div {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
}

.boxes {
  /* background-color: orange; */
  border-radius: 2px;
  border-color: black;
  /* padding: 1em; */
}

#question-box {
  background-color: #0007;
  color: #E5E5E5;
  width: 25em;
}

.p {
  display: flex;
  justify-content: left;
  align-content: space-around;
  border: solid;
  border-radius: 20px;
  padding-left: 1em;
  padding-right: 1em;
<<<<<<< HEAD
  margin-bottom: 2em;
  width: 14em;
  font-size: 20px;
  /* height: 4em; */
=======
  margin: 0;
}

.question-paragraph {
  margin: 0;
  padding: 0;
}

.big-answer-text-green {
  background-color: black;
  color: green;
  margin: 0;
  padding: 0;
}

.big-answer-text-red {
  background-color: black;
  color: red;
  margin: 0;
  padding: 0;
}

.text-box {
  padding: 0.5em 0.5em;
  font-size: 1em;
  color: white;
  background-color: black;
}

.input {
  background-color: white;
  padding: 0.5em 0.5em;
}

.form {
  background-color: black;
>>>>>>> develop
}

.team-buzzer{
  size: 2em;
}
